{{ if gt .Site.RegularPages 0}}
{{"<!-- Start author Section -->" | safeHTML}}
<section id="blog" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2>{{ with i18n "aboutAuthor" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with i18n "aboutAuthor" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 3 (where .Site.RegularPages "Section" "==" "author")}}
			{{ .Render "article"}}
			{{ end }}


		</div>
	</div>
</section>
{{"<!-- /author -->" | safeHTML}}
{{ end }}
